.nav {
  @include skranji;

  padding: 0.5rem 0;

  .dropdown-menu {
    @include media-breakpoint-down(md) {
      position: static;
      float: none;
    }

    @include media-breakpoint-up(lg) {
      @include stripes-bottom;

      padding: 0.5rem 1rem;
    }
  }
}

.nav ul {
  padding: 0;
  background-color: $black;
}

.nav li {
  @extend .nav-item;

  text-align: center;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.nav a {
  @extend .nav-link;

  color: $white;

  @include media-breakpoint-up(lg) {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: $black;
  color: $green;
}
