.woocommerce {
  span.onsale {
    @include stripes-bottom;

    background-color: $red;
  }
}

.woocommerce-info {
  border-top-color: $gray;

  &::before {
    color: $gray;
  }
}

.woocommerce-form-login {
  #rememberme {
    margin-left: 1rem;
  }

  .woocommerce-LostPassword {
    float: none;
    margin-bottom: 0;
    text-align: right;
  }
}

.woocommerce-MyAccount-navigation li {
  padding: 0.5rem;
}

.woocommerce-MyAccount-content {
  padding-top: 1.5rem;
  margin-top: 1rem;
  border-top: 1px solid $gray;
}

@include media-breakpoint-up(md) {
  .my-account .page-header {
    margin-left: 30%;
    margin-top: 1rem;

    h1 {
      padding-left: calculate-rem(16px);
      text-align: left;
    }
  }

  .woocommerce-MyAccount-navigation {
    position: relative;
    top: -2rem;
  }
}

.woocommerce-MyAccount-content .edit {
  @extend .btn;

  padding: 0 0.5rem;
  color: $white;
  background-color: $black;
}

@include media-breakpoint-up(lg) {
  .woocommerce-Address-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
