.departments {
  margin-bottom: 1rem;

  &::after {
    content: "";
    flex: auto;
  }

  @include media-breakpoint-up(md) {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-up(lg) {
    position: relative;
    top: -8px;
  }
}

.department {
  width: 220px;
  height: 220px;
  margin: 2rem auto;
  overflow: hidden;
  background: url('../images/red-department.jpg') no-repeat;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

  @include media-breakpoint-up(md) {
    margin: 1% 0;
  }

  & > a {
    display: block;
    width: 100%;

    img {
      width: 100%;
      height: 175px;
      object-fit: cover;
      object-position: 50%;
    }
  }

  h2 {
    padding: 0.75rem 0.64rem 0;
    white-space: nowrap;

    a {
      color: $red;
    }
  }

  &:nth-child(3n+2) {
    background: url('../images/gold-department.jpg') no-repeat;

    h2 a {
      color: $gold;
    }
  }

  &:nth-child(3n+3) {
    background: url('../images/green-department.jpg') no-repeat;

    h2 a {
      color: $green;
    }
  }

  &:last-of-type {
    margin-left: 15px;
  }
}

.template-departments {
  @include media-breakpoint-down(sm) {
    .content {
      padding-top: 0;
    }
  }

  @include media-breakpoint-only(md) {
    .container {
      max-width: 100%;
    }

    .sidebar {
      margin-left: calc(-100vw / 2 + 720px / 2);
      margin-right: calc(-100vw / 2 + 720px / 2);
    }
  }
}
