.content {
  padding-top: calculate-rem(26px);
  padding-bottom: calculate-rem(24px);
}

.page-header h1,
.page-title {
  text-align: center;

  @include media-breakpoint-up(lg) {
    @include fontSize(28px);

    margin: 2rem 0;
  }
}

@include media-breakpoint-up(lg) {
  .main:not(.template-contact .main, .woocommerce-page .main, .template-departments .main) {
    margin: 2rem 0;
    padding: 1rem;
    background-color: $white;
    border: 1px solid $gray;
  }
}
