.woocommerce,
.woocommerce-page {
  ul.products[class*=columns-] {
    padding: 0 calculate-rem(14px);

    @include media-breakpoint-up(sm) {
      margin-top: 2rem;
    }

    @include media-breakpoint-up(lg) {
      padding: 0;
    }

    li.product {
      border: 1px solid $gray;

      @include media-breakpoint-down(xs) {
        width: 100%;
      }

      @include media-breakpoint-up(lg) {
        background-color: $white;
      }

      h2 {
        @include fontSize(22px);
        @include stripes-bottom;

        margin-bottom: calculate-rem(15px);
        padding-bottom: calculate-rem(14px);
        text-align: center;
      }

      .price {
        @include skranji;
        @include fontSize(22px);
        @include stripes-bottom;

        float: left;
        width: 75%;
        margin: 0;
        padding: 1rem;
        background: $black;
        color: $white;
        line-height: 1;
        white-space: nowrap;
      }

      a.button {
        @include fontSize(22px);

        display: block;
        float: right;
        width: 25%;
        margin: 0;
        padding: 1rem;
        overflow: hidden;
        border-radius: 0;
        white-space: nowrap;
        font-size: 0;

        svg {
          display: block;
          float: right;
          width: 25px;
          fill: $white;
        }
      }
    }

    .added_to_cart {
      padding-top: 2em;
      text-align: center;
      width: 100%;
      padding-bottom: 0.83em;
    }
  }

  .woocommerce-result-count,
  .woocommerce-ordering {
    float: none;
    text-align: center;
  }
}

.woocommerce-pagination {
  margin-bottom: 2rem;
}

@include media-breakpoint-up(lg) {
  .woocommerce-products-header {
    border: 1px solid $gray;
    background-color: $white;

    h1 {
      @include stripes-bottom;

      padding-bottom: 1rem;
      margin-bottom: 2rem;
    }

    .woocommerce-result-count {
      float: left;
      padding-left: 1rem;
    }

    .woocommerce-ordering {
      float: right;
      padding-right: 1rem;
    }
  }
}

.site-main .term-description {
  padding: 1rem;
}

.site-main > .woocommerce-info {
  margin-top: 1rem;
}
